:host {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.title {
    font-weight: bold;
}

.body {
    font-style: italic;
}

.post {
    padding: 20px;
    border-radius: 5px;
    margin: 10px 0;
    background: white;
    box-shadow: 1px 5px 4px 2px #00000017;
    width: 400px;
}